body {
    background: rgb(255, 243, 207);
    background: linear-gradient(90deg, rgba(255, 243, 207, 1) 21%, rgba(201, 215, 221, 1) 85%);
    color: #637A9F;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 18px 72px !important;
    height: 100vh;
}


.upper-text {
    text-transform: uppercase;
}

.bold {
    font-weight: 700;
}

.nav-container,
.nav-container ul {
    display: flex !important;
    justify-content: space-between;
}

.nav-title {
    font-size: 23px !important;
    font-weight: 800 !important;
}

.underline {
    height: 1px;
    width: 0px;
    background-color: #637A9F;
}

.fixed-underline {
    height: 1px;
    width: 100%;
    background-color: #637A9F;
}

.nav-item a,
.nav-item a:visited {
    text-decoration: none;
    color: #637A9F;
    padding: 0;
}

.nav-item a:hover+.underline {
    width: 100%;
    transition: width 0.3s;
}

.nav-links {
    justify-content: space-between;
    width: 188px;
}

.homepage-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 55px;
    padding: 51px 0;
    justify-content: center;
}

.folder-container {
    width: 530px;
    height: 530px;
}

.folder-container a,
:visited,
:active {
    color: white;
    text-decoration: none;
}

.folder-container a:hover {
    opacity: 0%;
    transition: opacity 0.5s;
    cursor: pointer;
}


.folder-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.folder-text {
    position: relative;
    bottom: 50%;
    left: 45%;
    font-size: 20px;
}

.credits {
    color: #637A9F;
    margin: 0;
    font-size: 12px;
    padding: 20px 0;
}


.about-container {
    display: flex;
    column-gap: 49px;
    padding-top: 20px;
}

.about-img {
    width: 410px;
    height: 600px;
}

.ig-link {
    color: #637A9F;
    text-decoration: none;
}

.ig-link:hover {
    color: #637A9F;
    text-decoration: underline;
}

.blue-text {
    color: #637A9F;
}

.diary-container {
    margin: 46px 0px;
}

.header {
    text-align: center;
}

.header h1 {
    font-size: 56px;
}

.header p {
    margin: 10px 0 32px;
}

.diary-images {
    display: flex;
    flex-wrap: wrap;
    column-gap: 77px;
    row-gap: 33px;
}

.diary-img {
    height: 300px;
    margin-top: 12px;
}

.diary-img:hover {
    left: 50%;
    cursor: zoom-out;
    overflow: auto;
    /* Enable scroll if needed */
    transition: 0s;
    transition-delay: 0.05s;
    transition-property: transform;
    transform: scale(1.7);
    /* set zoom level */
    z-index: 1000;
}

@media(max-width: 1480px){
    .diary-img:hover {
        transform: scale(1.3);
    }
}


@media (min-width: 1160px) {
    .diary-img {
        height: 410px;
    }
}

@media (min-width: 669px) and (max-width: 992px) {
    .folder-container {
        width: 45%;
        height: 48%;
    }

    .about-container {
        row-gap: 20px;
        flex-direction: column;
    }
}

@media (min-width: 500px) and (max-width: 669px) {
    .homepage-container {
        flex-direction: column;
        padding: 14px 0;
    }

    .folder-container {
        margin-bottom: 14px;
        width: 83%;
    }

    .about-container {
        row-gap: 20px;
        flex-direction: column;
    }
}